.featured {
	width: 100%;
	//margin-top: 25px;
}

.alignright {
	float: right;
	overflow: hidden;
	clear: right;
}

.quarter {
	width: 100%;
	overflow: hidden;
}

.quarter img {
	width: 100%;
	overflow: hidden;
}

.hiddenCaption {
	display: none;
}
