
.featured {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

.quarter {
	width: 25%;
	overflow: hidden;
	padding: .5%;
	background-color: $accent;
	margin: 5px;
}

.quarter img {
	width: 99%;
	margin: 0 auto;
}

.enlarged {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 0 5px 0;
	display: block;
}
.enlarged img,
.enlarge a,
.enlarged p,
.enlarged li,
.enlarged figcaption {
	width: 100%;
	border: 0px;
	margin: 0;
	padding: 0;
}
.hasHiddenCaption:hover {
	cursor: pointer;
}

.hasHiddenCaption:hover .hiddenCaption {
	display: inline-block;
	background-color: rgba(25,25,25, .8);
	width: 75%;
	margin-top: -35px;
	margin-left: 12.5%;
	text-align: center;
	color: white;
	border-radius: 10px;

}

.enlarged:hover .hiddenCaption {
	display: none;
}
