header h1 {
	font-size: 200%;
}

header h2 {
	font-size: 140%;
	margin-bottom: 15px;
}

body .contentWrapper {
	margin-top: 150px;
}

main {
	margin-top: 0;
}

footer > ul {
	margin: 0 auto;
	padding-top: 10px;
	width: 90%;
}

footer > ul > li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

footer {
	margin-bottom: 0;
	padding-bottom: 35px;
}




/*
afterthought. Increasing padding
*/

	.mainWrapper p, .mainWrapper td,  .mainWrapper tr,  .mainWrapper th,  .mainWrapper table,  .mainWrapper img,  .mainWrapper ul,  .mainWrapper li {
	margin: 10px;
}

p {
	line-height: 2;
	font-size: 110%;
}

.sideNav p,
.sideNav li,
.sideNav a {
	font-size: 100%;
	line-height: 1.5;
}

td, tr {
	height: 40px;
}

table {
	width: 95%;
	margin: 0 auto;
}

header h2, nav h3 {
	display: none !important;
}

header h1 {
	margin-bottom: 30px;
}
