/*--------------------------------------
all styles compiled into here
---------------------------------------*/
/*-------------------------------
screen sizes and important widths
--------------------------------*/
/*----------------------------------------
Styles for small screen sizes (400px and less)
-----------------------------------------*/
/*defaults-------------------------------*/
/*--------------------------------------
default/general styles
---------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  font-family: arial;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*layouts--------------------------------*/
/*--------------------------------------
general layouts for pages
----------------------------------------*/
header {
  display: block;
  width: 100%;
  background-color: #404040;
  padding-bottom: 10px;
}

header h1,
header h1 a {
  color: #f75454;
  text-decoration: none;
  text-align: center;
  font-size: 1.25em;
}

header h2,
header h2 a {
  color: #fff;
  text-align: center;
  line-height: .75;
  padding-bottom: 15px;
  font-size: 1em;
}

header nav ul {
  margin: 0 auto;
  text-align: center;
}

header nav li,
header nav li a {
  color: #abe2ff;
  text-decoration: none;
  font-weight: bold;
}

header nav li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

header nav li a {
  display: inline-block;
  min-width: 80px;
}

header nav > ul > li {
  background-color: black;
  border-radius: 10px;
  padding: 5px 8px 5px 8px;
}

header nav > ul > li:hover {
  background-color: #1a1a1a;
}

header nav ul ul {
  display: none;
}

.centered {
  width: auto;
  margin: 0 auto;
}

main h1,
article h1,
div h1 {
  text-align: center;
}

.sideNav {
  display: none;
}

footer {
  background-color: #004f78;
  padding-top: 10px;
  padding-bottom: 25px;
}

footer * {
  color: white;
  text-decoration: none;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer ul {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

footer a {
  font-size: 16px;
  line-height: 180%;
}

footer a:hover {
  color: #abe2ff;
  border-bottom: solid 2px #abe2ff;
}

/*media----------------------------------*/
.featured {
  width: 100%;
  margin-top: 25px;
}

/*tables---------------------------------*/
/*-------------------------
table styles, 0px and up
--------------------------*/
.tableWrapper {
  max-width: 100%;
  overflow-x: auto;
}

table th,
table thead td,
table thead th {
  background-color: #abe2ff;
  padding: 8px;
  font-size: 120%;
  font-weight: 1400;
}

table {
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 25px;
  width: 100%;
}

table td,
table th {
  text-align: center;
}

table td,
table th {
  padding: 3px;
}

table tr:nth-child(even) {
  background-color: #e6e6e6;
}

table tfoot tr {
  border-top: solid #abe2ff 2px;
  border-bottom: solid #abe2ff 2px;
}

table tfoot td {
  text-align: center;
}

/*non-standard---------------------------*/
.extras {
  display: none;
}
