/*-------------------------------
screen sizes and important widths
--------------------------------*/
$VIEWPORT_SM:	380px;
$VIEWPORT_MED: 600px;
$VIEWPORT_LG: 850px;
$VIEWPORT_XL: 1200px;
$VIEWPORT_XXL: 1600px;
