	.mainWrapper p, .mainWrapper td,  .mainWrapper tr,  .mainWrapper th,  .mainWrapper table,  .mainWrapper img,  .mainWrapper ul,  .mainWrapper li {
	margin: 10px;
}

p {
	line-height: 2;
	font-size: 110%;
}

.sideNav p,
.sideNav li,
.sideNav a {
	font-size: 100%;
	line-height: 1.5;
}

td, tr {
	height: 40px;
}

table {
	width: 95%;
	margin: 0 auto;
}

header h2, nav h3 {
	display: none !important;
}

header h1 {
	margin-bottom: 30px;
}
